@tailwind base;
@tailwind components;
@tailwind utilities;  


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F4F4F9;
  color: #111827;
}

/* Custom colors for the palette */
.text-coral-400 {
  color: #FFA69E;
}

.bg-coral-400 {
  background-color: #FFA69E;
}

.text-teal-400 {
  color: #93E1D8;
}

.bg-teal-400 {
  background-color: #93E1D8;
}

.text-blue-400 {
  color: #A3C4F3;
}

.bg-blue-400 {
  background-color: #A3C4F3;
}